.slider-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: slide 35s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
}

.project-card {
  min-width: 350px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  position:sticky;
  top:0;
  background:#08111f;
  z-index:100;
}

.navbar div{
  display:flex;
  gap:30px;
}

.hero{
  min-height:80vh;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;
}

.hero h1{
  font-size:4rem;
}

.hero p{
  margin-top:20px;
  font-size:1.2rem;
}

.resume-btn{
  margin-top:30px;
  padding:15px 30px;
  border-radius:8px;
  background:#00bfff;
}

.slider-track{
  display:flex;
  gap:30px;
  margin-top:40px;

  width:max-content;

  animation:slide 20s linear infinite;
}

.project-card{
  min-width:300px;

  background:#14243d;

  padding:30px;

  border-radius:20px;

  transition:0.3s;
}

.project-card:hover{
  transform:translateY(-8px);
}

@keyframes slide{
  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-50%);
  }
}
.cert-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.cert-card{
  background:#14243d;
  padding:20px;
  border-radius:16px;
}

.cert-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}
